* text=auto
/.github export-ignore
.scrutinizer.yml export-ignore
BACKERS.md export-ignore
CONTRIBUTING.md export-ignore
CHANGELOG.md export-ignore
storage/app/*/*/*.txt filter=git-crypt diff=git-crypt
storage/app/*/*/*.md filter=git-crypt diff=git-crypt
